<nav class="panel is-primary">
          <p class="panel-heading">Authors</p>
                <div class="panel-block">
                    <article class="media">
                        <div class="media-left">
                        <figure class="image is-64x64">
                            <img src="https://www.flaticon.com/svg/static/icons/svg/3532/3532597.svg" alt="https://www.flaticon.com/svg/static/icons/svg/3532/3532597.svg">
                        </figure>
                        </div>
                        <div class="media-content">
                        <div class="content">
                            <strong>Log in to see the author's name</strong><br>
                            <small><a class="is_link" href="/posts/2">My nephew has problems</a></small>
                        </div>
                        </div>
                    </article>
                </div>
              
      
        </nav>