
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-one-quarter">
        <%= render 'top' %>
      </div>
      <div class="column is-half">
        <%= render partial: 'form' %>
        <%= user_is_signed_in(@post) %>
      </div>
      <div class="column is-one-quarter">
      
      <%= is_signed_in(@post) %>
      </div>
    </div>
  </div>
</section>

