
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-one-quarter">
        top 10
      </div>
      <div class="column is-half">
      <%= debug @post %>
        <%= render partial: 'form' %>

        <%= render partial: 'feed' %>
      </div>
      <div class="column is-one-quarter">
        authors
      </div>
    </div>
  </div>
</section>

