
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-one-quarter">
      top 10
      </div>
      <div class="column is-half">
        <%= render partial: 'posts/form' %>
      </div>
      <div class="column is-one-quarter">
      authors
      </div>
    </div>
  </div>
</section>


<%= link_to 'New Post', new_post_path %>
