<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <h1 class="title is-5">Secreet Keeper</h1>
            </a>
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
          </a>
        </div>
        <div class="navbar-menu" id="navbarExample">
          <div class="navbar-end">
            <div class="navbar-item">
              <a class="button is-dark has-text-white is-fullwidth" href="/">New Topic</a>
            </div>
  
            <div class="navbar-item">
              <a class="button is-primary has-text-dark is-fullwidth" href="/members/sign_up">New User</a>
            </div>
            <div class="navbar-item">
              <a class="button is-primary has-text-dark is-fullwidth" href="/members/sign_in">Log In</a>
            </div>
  
          </div>
        </div>
      </nav>